.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    margin-left: 100px;
  }
  
  .pagination a {
    display: flex;
    text-align: center;
    font-weight: 400;
    color: white;
    background-color: #172B65;
    padding: 15px 20px;
    border-radius: 2000px;
    margin: 0 5px;
  }
  
  .pagination a.active {
    background-color: white;
    color: purple;
  }

  .latest-fetch-text {
    color: #fff;
  }