.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-right: 100px;
  }
  
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar-links li {
    margin: 0;
    flex-basis: 20%;
    text-align: center;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-links li a:hover {
    color: #13A0E6;
  }
  
  .language-dropdown select {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
  }
  
  .signup-login button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #0066ff;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .signup-login button:hover {
    background-color: #0044cc;
  }
  